.big-title{
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  padding:  60px 0;
  font-family: "Open Sans";
}

.cp-subtitle{
  margin-bottom: 60px;
  box-sizing: border-box;
  padding: 0 50px;
  font-size: 16px;
  font-family: "Open Sans";
}

.pb60{
  padding-bottom: 60px;
}